<html lang="en">
  <head>
    {% include "header.html" %}
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          {% include "navbar.html" %}
          <div class="inner cover">
          {% if payment.id and not error %}
            {% include "success.html" %}
          {% else %}
            {% include "failure.html" %}
          {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% include "footer.html" %}
  </body>
</html>
