<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Superheroes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css">
    <link href="static/style.css" rel="stylesheet">

  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Superheroes</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="http://github.com/payabbhi/superheroes" style="font-size: xx-large;"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                </ul>
              </nav>
            </div>
          </div>
          {% if payment.id != '' %}
            <div class="inner cover">
              <h1 class="cover-heading">You've got {{ hero_name }} </h1>
              <h3>for ₹{{ payment.amount/100 }}</h3>
              <p class="lead"><img src="{{ hero_url }}"></p>
              <p class="lead">
                Order ID is {{ merchant_order_id }}
              </p>
              <p class="lead">
                Payment ID is {{ payment.id }}
              </p>
              <p class="lead">
                <a href="/" class="btn btn-lg btn-default">Continue shopping</a>
              </p>
            </div>
          {% else %}
            <div class="inner cover">
              <h1 class="cover-heading">Hard Luck !! Your attempt to buy a superhero is in vain </h1>
              <p class="lead">
                Oops!! Could not complete the order for Order ID {{ merchant_order_id }}
              </p>
              <p class="lead">
                <a href="/" class="btn btn-lg btn-default">Try Again</a>
              </p>
            </div>
          {% endif %}
          <div class="mastfoot"> <div class="inner"> </div> </div>
        </div>

      </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body></html>
